In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [2]:
spark

Data Frame: From Panda

In [4]:
import pandas as pd

df_temperature = pd.DataFrame([['JAN', 23, 15, 74, 22, 2.95],
                   ['FEB', 25, 16, 74, 22, 2.95],
                   ['MAR', 28, 20, 74, 22, 2.95],
                   ['APR', 29, 23, 74, 22, 2.95],
                   ['MAY', 35, 27, 74, 22, 2.95],
                   ['JUN', 36, 26, 74, 22, 2.95],
                   ['JUL', 34, 25, 74, 22, 2.95],
                   ['AUG', 30, 24, 74, 22, 2.95],
                   ['SEP', 29, 24, 74, 22, 2.95],
                   ['OCT', 26, 23, 74, 22, 2.95],
                   ['NOV', 24, 22, 74, 22, 2.95],
                   ['DEC', 22, 20, 74, 22, 2.95]],
                  index=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                  columns=['month', 'avg_high', 'avg_low', 'record_high', 'record_low', 'avg_precipitation'])

df_temperature

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    JAN        23       15           74          22               2.95
1    FEB        25       16           74          22               2.95
2    MAR        28       20           74          22               2.95
3    APR        29       23           74          22               2.95
4    MAY        35       27           74          22               2.95
5    JUN        36       26           74          22               2.95
6    JUL        34       25           74          22               2.95
7    AUG        30       24           74          22               2.95
8    SEP        29       24           74          22               2.95
9    OCT        26       23           74          22               2.95
10   NOV        24       22           74          22               2.95
11   DEC        22       20           74          22               2.95

Data Frame spark from list of ROW

In [10]:
from pyspark.sql import Row
df_spark_temperature = spark.createDataFrame([
    Row(month='JAN', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='FEB', avg_high=25, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='MAR', avg_high=28, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='APR', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='MAY', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='JUN', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='JUL', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='AUG', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='SEP', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='OCT', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='NOV', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='DEC', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95)
])

root
 |-- month: string (nullable = true)
 |-- avg_high: long (nullable = true)
 |-- avg_low: long (nullable = true)
 |-- record_high: long (nullable = true)
 |-- record_low: long (nullable = true)
 |-- avg_precipitation: double (nullable = true)

In [11]:
df_spark_temperature.printSchema()

root
 |-- month: string (nullable = true)
 |-- avg_high: long (nullable = true)
 |-- avg_low: long (nullable = true)
 |-- record_high: long (nullable = true)
 |-- record_low: long (nullable = true)
 |-- avg_precipitation: double (nullable = true)

DataFrame[month: string, avg_high: bigint, avg_low: bigint, record_high: bigint, record_low: bigint, avg_precipitation: double]

In [12]:
df_spark_temperature.show()

+-----+--------+-------+-----------+----------+-----------------+
|month|avg_high|avg_low|record_high|record_low|avg_precipitation|
+-----+--------+-------+-----------+----------+-----------------+
|  JAN|      23|     15|         74|        22|             2.95|
|  FEB|      25|     15|         74|        22|             2.95|
|  MAR|      28|     15|         74|        22|             2.95|
|  APR|      23|     15|         74|        22|             2.95|
|  MAY|      23|     15|         74|        22|             2.95|
|  JUN|      23|     15|         74|        22|             2.95|
|  JUL|      23|     15|         74|        22|             2.95|
|  AUG|      23|     15|         74|        22|             2.95|
|  SEP|      23|     15|         74|        22|             2.95|
|  OCT|      23|     15|         74|        22|             2.95|
|  NOV|      23|     15|         74|        22|             2.95|
|  DEC|      23|     15|         74|        22|             2.95|
+-----+--------+-------+-----------+----------+-----------------+

Create a PySpark DataFrame with an explicit schema.

In [16]:
df = spark.createDataFrame([
                    ('JAN', 23, 15, 74, 22, 2.95),
                    ('FEB', 25, 16, 74, 22, 2.95,
                    ('MAR', 28, 20, 74, 22, 2.95),
                    ('APR', 29, 23, 74, 22, 2.95),
                    ('MAY', 35, 27, 74, 22, 2.95),
                    ('JUN', 36, 26, 74, 22, 2.95),
                    ('JUL', 34, 25, 74, 22, 2.95),
                    ('AUG', 30, 24, 74, 22, 2.95),
                    ('SEP', 29, 24, 74, 22, 2.95),
                    ('OCT', 26, 23, 74, 22, 2.95),
                    ('NOV', 24, 22, 74, 22, 2.95),
                    ('DEC', 22, 20, 74, 22, 2.95))
], schema='month string, avg_high bigint, avg_low bigint, record_high bigint, record_low bigint, avg_precipitation float')
df

ValueError: Length of object (16) does not match with length of fields (6)