In [5]:
import os
os.environ["JAVA_HOME"] = "/Library/Java/JavaVirtualMachines/openjdk-13.jdk/Contents/Home"
os.environ["SPARK_HOME"] = "/Users/rama/Downloads/spark-3.2.1-bin-hadoop3.2"

import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [6]:
spark

Data Frame: From Panda

In [7]:
import pandas as pd

df_temperature = pd.DataFrame([['JAN', 23, 15, 74, 22, 2.95],
                   ['FEB', 25, 16, 74, 22, 2.95],
                   ['MAR', 28, 20, 74, 22, 2.95],
                   ['APR', 29, 23, 74, 22, 2.95],
                   ['MAY', 35, 27, 74, 22, 2.95],
                   ['JUN', 36, 26, 74, 22, 2.95],
                   ['JUL', 34, 25, 74, 22, 2.95],
                   ['AUG', 30, 24, 74, 22, 2.95],
                   ['SEP', 29, 24, 74, 22, 2.95],
                   ['OCT', 26, 23, 74, 22, 2.95],
                   ['NOV', 24, 22, 74, 22, 2.95],
                   ['DEC', 22, 20, 74, 22, 2.95]],
                  index=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                  columns=['month', 'avg_high', 'avg_low', 'record_high', 'record_low', 'avg_precipitation'])

df_temperature

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    JAN        23       15           74          22               2.95
1    FEB        25       16           74          22               2.95
2    MAR        28       20           74          22               2.95
3    APR        29       23           74          22               2.95
4    MAY        35       27           74          22               2.95
5    JUN        36       26           74          22               2.95
6    JUL        34       25           74          22               2.95
7    AUG        30       24           74          22               2.95
8    SEP        29       24           74          22               2.95
9    OCT        26       23           74          22               2.95
10   NOV        24       22           74          22               2.95
11   DEC        22       20           74          22               2.95

# Data Frame spark from list of ROW

In [8]:
from pyspark.sql import Row
df_spark_temperature = spark.createDataFrame([
    Row(month='JAN', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='FEB', avg_high=25, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='MAR', avg_high=28, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='APR', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='MAY', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='JUN', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='JUL', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='AUG', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='SEP', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='OCT', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='NOV', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
    Row(month='DEC', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95)
])

In [9]:
df_spark_temperature.printSchema()

root
 |-- month: string (nullable = true)
 |-- avg_high: long (nullable = true)
 |-- avg_low: long (nullable = true)
 |-- record_high: long (nullable = true)
 |-- record_low: long (nullable = true)
 |-- avg_precipitation: double (nullable = true)

In [10]:
df_spark_temperature.show()

+-----+--------+-------+-----------+----------+-----------------+
|month|avg_high|avg_low|record_high|record_low|avg_precipitation|
+-----+--------+-------+-----------+----------+-----------------+
|  JAN|      23|     15|         74|        22|             2.95|
|  FEB|      25|     15|         74|        22|             2.95|
|  MAR|      28|     15|         74|        22|             2.95|
|  APR|      23|     15|         74|        22|             2.95|
|  MAY|      23|     15|         74|        22|             2.95|
|  JUN|      23|     15|         74|        22|             2.95|
|  JUL|      23|     15|         74|        22|             2.95|
|  AUG|      23|     15|         74|        22|             2.95|
|  SEP|      23|     15|         74|        22|             2.95|
|  OCT|      23|     15|         74|        22|             2.95|
|  NOV|      23|     15|         74|        22|             2.95|
|  DEC|      23|     15|         74|        22|             2.95|
+-----+--------+-------+-----------+----------+-----------------+

Create a PySpark DataFrame with an explicit schema.

In [11]:
df = spark.createDataFrame([
                    ('JAN', 23, 15, 74, 22, 2.95),
                    ('FEB', 25, 16, 74, 22, 2.95),
                    ('MAR', 28, 20, 74, 22, 2.95),
                    ('APR', 29, 23, 74, 22, 2.95),
                    ('MAY', 35, 27, 74, 22, 2.95),
                    ('JUN', 36, 26, 74, 22, 2.95),
                    ('JUL', 34, 25, 74, 22, 2.95),
                    ('AUG', 30, 24, 74, 22, 2.95),
                    ('SEP', 29, 24, 74, 22, 2.95),
                    ('OCT', 26, 23, 74, 22, 2.95),
                    ('NOV', 24, 22, 74, 22, 2.95),
                    ('DEC', 22, 20, 74, 22, 2.95)
], schema='month string, avg_high bigint, avg_low bigint, record_high bigint, record_low bigint, avg_precipitation double')

df.show()

+-----+--------+-------+-----------+----------+-----------------+
|month|avg_high|avg_low|record_high|record_low|avg_precipitation|
+-----+--------+-------+-----------+----------+-----------------+
|  JAN|      23|     15|         74|        22|             2.95|
|  FEB|      25|     16|         74|        22|             2.95|
|  MAR|      28|     20|         74|        22|             2.95|
|  APR|      29|     23|         74|        22|             2.95|
|  MAY|      35|     27|         74|        22|             2.95|
|  JUN|      36|     26|         74|        22|             2.95|
|  JUL|      34|     25|         74|        22|             2.95|
|  AUG|      30|     24|         74|        22|             2.95|
|  SEP|      29|     24|         74|        22|             2.95|
|  OCT|      26|     23|         74|        22|             2.95|
|  NOV|      24|     22|         74|        22|             2.95|
|  DEC|      22|     20|         74|        22|             2.95|
+-----+--------+-------+-----------+----------+-----------------+

# Create a PySpark DataFrame from a pandas DataFrame

In [12]:
df_from_panda = spark.createDataFrame(df_temperature)

df_from_panda.show()

+-----+--------+-------+-----------+----------+-----------------+
|month|avg_high|avg_low|record_high|record_low|avg_precipitation|
+-----+--------+-------+-----------+----------+-----------------+
|  JAN|      23|     15|         74|        22|             2.95|
|  FEB|      25|     16|         74|        22|             2.95|
|  MAR|      28|     20|         74|        22|             2.95|
|  APR|      29|     23|         74|        22|             2.95|
|  MAY|      35|     27|         74|        22|             2.95|
|  JUN|      36|     26|         74|        22|             2.95|
|  JUL|      34|     25|         74|        22|             2.95|
|  AUG|      30|     24|         74|        22|             2.95|
|  SEP|      29|     24|         74|        22|             2.95|
|  OCT|      26|     23|         74|        22|             2.95|
|  NOV|      24|     22|         74|        22|             2.95|
|  DEC|      22|     20|         74|        22|             2.95|
+-----+--------+-------+-----------+----------+-----------------+

# View and data representation

In [13]:
df.show(1)

+-----+--------+-------+-----------+----------+-----------------+
|month|avg_high|avg_low|record_high|record_low|avg_precipitation|
+-----+--------+-------+-----------+----------+-----------------+
|  JAN|      23|     15|         74|        22|             2.95|
+-----+--------+-------+-----------+----------+-----------------+
only showing top 1 row

In [14]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
df

+-----+--------+-------+-----------+----------+-----------------+
|month|avg_high|avg_low|record_high|record_low|avg_precipitation|
+-----+--------+-------+-----------+----------+-----------------+
|  JAN|      23|     15|         74|        22|             2.95|
|  FEB|      25|     16|         74|        22|             2.95|
|  MAR|      28|     20|         74|        22|             2.95|
|  APR|      29|     23|         74|        22|             2.95|
|  MAY|      35|     27|         74|        22|             2.95|
|  JUN|      36|     26|         74|        22|             2.95|
|  JUL|      34|     25|         74|        22|             2.95|
|  AUG|      30|     24|         74|        22|             2.95|
|  SEP|      29|     24|         74|        22|             2.95|
|  OCT|      26|     23|         74|        22|             2.95|
|  NOV|      24|     22|         74|        22|             2.95|
|  DEC|      22|     20|         74|        22|             2.95|
+-----+--------+-------+-----------+----------+-----------------+

In [15]:
df.show(1, vertical=True)

-RECORD 0-----------------
 month             | JAN
 avg_high          | 23
 avg_low           | 15
 record_high       | 74
 record_low        | 22
 avg_precipitation | 2.95
only showing top 1 row

In [16]:
df.columns

['month',
 'avg_high',
 'avg_low',
 'record_high',
 'record_low',
 'avg_precipitation']

In [17]:
df.select("avg_high", "avg_low", "record_high", "record_low", "avg_precipitation").describe().show()

+-------+------------------+------------------+-----------+----------+------------------+
|summary|          avg_high|           avg_low|record_high|record_low| avg_precipitation|
+-------+------------------+------------------+-----------+----------+------------------+
|  count|                12|                12|         12|        12|                12|
|   mean|28.416666666666668|22.083333333333332|       74.0|      22.0|2.9500000000000006|
| stddev| 4.699290726623895|3.7284735685686643|        0.0|       0.0|               0.0|
|    min|                22|                15|         74|        22|              2.95|
|    max|                36|                27|         74|        22|              2.95|
+-------+------------------+------------------+-----------+----------+------------------+

In [18]:
df.collect()

[Row(month='JAN', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95),
 Row(month='FEB', avg_high=25, avg_low=16, record_high=74, record_low=22, avg_precipitation=2.95),
 Row(month='MAR', avg_high=28, avg_low=20, record_high=74, record_low=22, avg_precipitation=2.95),
 Row(month='APR', avg_high=29, avg_low=23, record_high=74, record_low=22, avg_precipitation=2.95),
 Row(month='MAY', avg_high=35, avg_low=27, record_high=74, record_low=22, avg_precipitation=2.95),
 Row(month='JUN', avg_high=36, avg_low=26, record_high=74, record_low=22, avg_precipitation=2.95),
 Row(month='JUL', avg_high=34, avg_low=25, record_high=74, record_low=22, avg_precipitation=2.95),
 Row(month='AUG', avg_high=30, avg_low=24, record_high=74, record_low=22, avg_precipitation=2.95),
 Row(month='SEP', avg_high=29, avg_low=24, record_high=74, record_low=22, avg_precipitation=2.95),
 Row(month='OCT', avg_high=26, avg_low=23, record_high=74, record_low=22, avg_precipitation=2.95),
 Row(month='NOV', avg_high=24, avg_low=22, record_high=74, record_low=22, avg_precipitation=2.95),
 Row(month='DEC', avg_high=22, avg_low=20, record_high=74, record_low=22, avg_precipitation=2.95)]

# Memory management

In [19]:
df.take(1)

[Row(month='JAN', avg_high=23, avg_low=15, record_high=74, record_low=22, avg_precipitation=2.95)]

In [20]:
df.toPandas()

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    JAN        23       15           74          22               2.95
1    FEB        25       16           74          22               2.95
2    MAR        28       20           74          22               2.95
3    APR        29       23           74          22               2.95
4    MAY        35       27           74          22               2.95
5    JUN        36       26           74          22               2.95
6    JUL        34       25           74          22               2.95
7    AUG        30       24           74          22               2.95
8    SEP        29       24           74          22               2.95
9    OCT        26       23           74          22               2.95
10   NOV        24       22           74          22               2.95
11   DEC        22       20           74          22               2.95

In [21]:
df.month

Column<'month'>

In [22]:
#Assign new Column instance.
df.withColumn('Calender_month', df.month).show()

+-----+--------+-------+-----------+----------+-----------------+--------------+
|month|avg_high|avg_low|record_high|record_low|avg_precipitation|Calender_month|
+-----+--------+-------+-----------+----------+-----------------+--------------+
|  JAN|      23|     15|         74|        22|             2.95|           JAN|
|  FEB|      25|     16|         74|        22|             2.95|           FEB|
|  MAR|      28|     20|         74|        22|             2.95|           MAR|
|  APR|      29|     23|         74|        22|             2.95|           APR|
|  MAY|      35|     27|         74|        22|             2.95|           MAY|
|  JUN|      36|     26|         74|        22|             2.95|           JUN|
|  JUL|      34|     25|         74|        22|             2.95|           JUL|
|  AUG|      30|     24|         74|        22|             2.95|           AUG|
|  SEP|      29|     24|         74|        22|             2.95|           SEP|
|  OCT|      26|     23|         74|        22|             2.95|           OCT|
|  NOV|      24|     22|         74|        22|             2.95|           NOV|
|  DEC|      22|     20|         74|        22|             2.95|           DEC|
+-----+--------+-------+-----------+----------+-----------------+--------------+

In [23]:
df.filter(df.avg_high == 26).show()

+-----+--------+-------+-----------+----------+-----------------+
|month|avg_high|avg_low|record_high|record_low|avg_precipitation|
+-----+--------+-------+-----------+----------+-----------------+
|  OCT|      26|     23|         74|        22|             2.95|
+-----+--------+-------+-----------+----------+-----------------+